.FilterBar {
	width: 100%;
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;

	display: flex;
	justify-content: center;
}

.FilterButton {
	text-transform: capitalize;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.FilterButton + .FilterButton {
	margin-left: 1rem;
}

.FilterButton--NotActive {
	background-color: transparent;
	color: var(--black);
	border-color: transparent;
}