.Services__Row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-gap: 2em 1em;

	margin-top: 2.5em;
}

.Services__Service {
	text-align: center;
}

.ServiceHeading {
	color: var(--black);
	font-size: calc(var(--font-size) * 1.4);
}

.ServiceDescription {
	color: var(--ash);
	margin-top: 0.6em;
	line-height: 140%;
}