.HomeView__Container {
	padding: 5em 0;
}

.HomeView__Row {
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.HomeView__AboutText {
	margin-top: 1.5em;
	line-height: 150%;
}